<h1>All Booking</h1>

<div >
  <table class="table" >
    <th scope="col">Listing Id</th>
    <th scope="col">Booking id</th>
    <th scope="col">Booking Date</th>
    <th scope="col">Booking Start</th>
    <th scope="col">Booking End</th>
    <th scope="col">username</th>


    <tbody>
  <tr *ngFor="let bookiing of allBooking">
    <td class="">{{bookiing.listing_id}}</td>
    <td class="">{{bookiing.booking_id}}</td>
    <td class="">{{bookiing.booking_date}}</td>
    <td class="">{{bookiing.booking_start}}</td>
    <td class="">{{bookiing.booking_end}}</td>
    <td class="">{{bookiing.username}}</td>
  </tr>

</tbody>
</table>
</div>
